@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 8;
}

@font-palette-values --quiznumber {
  font-family: Rocher;
  base-palette: 0;
}

body {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);
  background: linear-gradient(to bottom, #0f9b0f, #000000);
}

/* 
#quizName {
  
} */


#questionNumber{
  font-family: Rocher;
  font-palette: --quiznumber;
}

#questionText {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Dela Gothic One', sans-serif;
}

.question-container{
  background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);
  background: linear-gradient(to bottom, #0f9b0f, #000000);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);
  background: linear-gradient(to bottom, #064706, #205524);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.choices-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  font-size: 60px;
  width: 100%;
  padding-bottom: 13px;
}

.choices-container label {
  --s: 0.1em;   
  --c: #2aa13e; 
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
  font-family: 'Salsa', cursive;
  font-size: 40px;
  cursor: pointer;

    border: solid #000;
  border-radius: 5px;

}


.choices-container label:hover {--_p: 100%}

.choices-container label.selected {
  --_p: 100%;
}

.next-button {
  margin-left: 15px;
  padding: 10px;
  font-family: Rocher;
  font-size: 30px;
  cursor: pointer;
  background: -webkit-linear-gradient(to bottom, #3662f4, #000000);
  background: linear-gradient(to bottom, #3652f4, #000000);
  color: white;
  border: none;
  border-radius: 6px;
  --c: #;
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(#2aa13e 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}

.next-button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}

.next-button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

button {
  margin-right: 15px;
  padding: 10px;
  font-family: Rocher;
  font-size: 30px;
  cursor: pointer;
  background: -webkit-linear-gradient(to bottom, #3662f4, #000000);
  background: linear-gradient(to bottom, #3652f4, #000000);
  color: white;
  border: none;
  border-radius: 6px;
  --c: #;
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(#2aa13e 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}

button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}

button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.choice-checkbox {
  width: 17px;
  height: 20px;
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 5px;
  cursor: pointer;
}

.choice-checkbox:checked {
  background-color: #36b725;
  border: 1px solid #27e90d;
}
