<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="cache-control"
      content="no-store, no-cache, must-revalidate"
    />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="stylesheet" href="quizCreationStyle2.css" />
  </head>

  <body>
    <script>
      window.onload = function () {
        var questionNumber = 3;
        var parentContainer = document.body;

        function Generate() {
          for (var i = 0; i < questionNumber; i++) {
            var container = createMainContainer(i);
            container.className = "container";

            var componentsDiv = createContainer();
            componentsDiv.className = "components";

            var label = document.createElement("label");
            label.htmlFor = "questionInput" + i;
            label.innerText = "Question " + (i + 1);
            container.appendChild(label);

            var input = createInput(
              "text",
              "questionInput" + i,
              "Input Question here..."
            );
            input.className = "question-input";

            var choiceContainer = createContainer();
            choiceContainer.className = "choices-container";
            choiceContainer.id = "additionalChoices" + i;

            // Generate and display choice fields with numbers
            for (var j = 1; j <= 4; j++) {
              var checkbox = createInput(
                "checkbox",
                "checkboxInput" + i + "_" + j,
                ""
              );
              checkbox.className = "choice-checkbox";

             
              checkbox.setAttribute("data-container-index", i);

              choiceContainer.appendChild(checkbox);

              var choiceInput = createInput(
                "text",
                "choiceInput" + i + "_" + j,
                "Input Choice here..."
              );
              choiceInput.className = "choice-input";
              choiceContainer.appendChild(choiceInput);

             
              checkbox.addEventListener("change", function () {
                var currentContainerIndex = parseInt(
                  this.getAttribute("data-container-index")
                );
                var checkboxes = document.querySelectorAll(
                  '.choice-checkbox[data-container-index="' +
                    currentContainerIndex +
                    '"]'
                );

                // Uncheck other checkboxes in the same container
                checkboxes.forEach((cb) => {
                  if (cb !== this) {
                    cb.checked = false;
                  }
                });
              });
            }

            componentsDiv.appendChild(input);
            componentsDiv.appendChild(choiceContainer);

            // Add a "Clear" button
            var clearButton = document.createElement("button");
            clearButton.innerText = "Clear";
            clearButton.onclick = function () {
              var containerIndex = parseInt(
                this.getAttribute("data-container-index")
              );
              var currentQuestionInput = document.getElementById(
                "questionInput" + containerIndex
              );
              if (currentQuestionInput) {
                currentQuestionInput.value = "";
              }

              var currentChoiceContainer = document.getElementById(
                "additionalChoices" + containerIndex
              );
              if (currentChoiceContainer) {
                var choiceInputs =
                  currentChoiceContainer.querySelectorAll(".choice-input");
                choiceInputs.forEach(function (choiceInput) {
                  choiceInput.value = "";
                });
              }
            };

            clearButton.setAttribute("data-container-index", i);
            componentsDiv.appendChild(clearButton);

            container.appendChild(componentsDiv);
            parentContainer.appendChild(container);
          }

          for (var j = 1; j < questionNumber; j++) {
            var containerToHide = document.getElementById("container" + j);
            if (containerToHide) {
              containerToHide.style.display = "none";
            }
          }

          var firstContainer = document.getElementById("container0");
          if (firstContainer) {
            firstContainer.style.display = "block";
          }

          function confirmContinue() {
            return confirm("Are you sure you want to continue?");
          }

          // Add a "Next" button
          var nextButton = document.createElement("button");
          nextButton.innerText = "Next";
          nextButton.className = "next-button";
          nextButton.onclick = function () {
            var currentContainer = document.getElementById(
              "container" + currentQuestion
            );

            currentContainer.style.display = "none";
            currentQuestion++;

            var nextContainer = document.getElementById(
              "container" + currentQuestion
            );

            if (nextContainer) {
              nextContainer.style.display = "block";
            } else {
              // Ask for confirmation before alerting
              if (confirmContinue()) {
                alert("End of quiz");
                //save the content of the qustion fields, choices fields and which choice is checked of each container to the database....
                window.location.href = "/teacherMain"

              } else {
                // User clicked Cancel, go back to the last question
                currentQuestion--;
                currentContainer.style.display = "block";
              }
            }
          };

          parentContainer.appendChild(nextButton);
        }

        // Add a "Back" button
        var backButton = document.createElement("button");
        backButton.innerText = "Back";
        backButton.className = "back-button";
        backButton.onclick = function () {
          var currentContainer = document.getElementById(
            "container" + currentQuestion
          );
          currentContainer.style.display = "none";
          currentQuestion--;
          var prevContainer = document.getElementById(
            "container" + currentQuestion
          );
          if (prevContainer) {
            prevContainer.style.display = "block";
          } else {
            alert("Canceling...");
            window.location.href = "/quizCreationTab";
          }
        };

        parentContainer.appendChild(backButton);

        function createMainContainer(questionIndex) {
          var container = document.createElement("div");
          container.id = "container" + questionIndex;
          container.style.marginBottom = "20px";
          return container;
        }

        function createContainer() {
          return document.createElement("div");
        }

        function createInput(type, id, placeholder) {
          var input = document.createElement("input");
          input.type = type;
          input.id = id;
          input.placeholder = placeholder;
          return input;
        }

        var currentQuestion = 0;
        Generate();
      };
    </script>
  </body>
</html>
