<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="cache-control"
      content="no-store, no-cache, must-revalidate"
    />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="stylesheet" href="quizListStyle.css" />
  </head>

  <body>
    <h1>Quizes</h1>

    <div class="container">
      <div class="section">
        <p>5</p>
        <label for="">Questions</label>
      </div>
      <div class="seperator"></div>
      <div class="section">
        <label for="">Time: </label>
        <p>1min</p>
      </div>
      <div class="seperator"></div>
      <div class="section">
        <p>math</p>
        <label for="">Category </label>
      </div>
      <div class="seperator"></div>
      <div class="section">
        <label for="">Creator:</label>
        <p>@Abdul</p>
      </div>
    </div>

    <div class="container">
      <div class="section">
        <p>10</p>
        <label for="">Questions</label>
      </div>
      <div class="seperator"></div>
      <div class="section">
        <label for="">Time: </label>
        <p>2min</p>
      </div>
      <div class="seperator"></div>
      <div class="section">
        <p>Science</p>
        <label for="">Category </label>
      </div>
      <div class="seperator"></div>
      <div class="section">
        <label for="">Creator: </label>
        <p>@Abdul</p>
      </div>
    </div>
  </body>
</html>
